@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
}

.content {
    flex: 1;
}

header {
    background-color: black;
}

header .col-md-6 img {
    width: 200px;
}

footer{
    background-color: black !important;
}